@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --title-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(16, 71, 173);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.header-card-title{
    width: 100%;
    text-align: center;
}

.header-card-title h1{
    margin-left: 20px;
    font-family: var(--title-font);
}

.header-card-icon-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50px;
}

.header-card-icon-home img{
    height: 30px;
    width: 30px;
    background-color: azure;
    padding: 5px;
    border-radius: 35%;
}

header img:hover{
    cursor: pointer;
}

main{
    padding: 20px;
}

/* Área que vai estilizar o local onde os cards estarão */
.card-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
}   

/* Área que vai estilizar os cards */
.card-information{
    margin: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.075);
    max-width: 100%;
    width: 350px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.123);
}

.card-information:hover{
    cursor: pointer;
}

.card-img{
    display: flex;
    justify-content: center;
}

.card-img img{
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text h3{
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin-top: 15px;
}

.paragraph{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    max-width: 270px;
    padding-left: 3px;
    padding-right: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 600;
    color: rgba(102, 102, 102, 0.89);
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.used-paragraph{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}